<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <title>个人信息</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="foundation.min.css">
  <link rel="stylesheet" type="text/css" href="us-app.css">
</head>
<body>
  <div class="off-canvas-wrap" data-offcanvas="">
    <div class="inner-wrap">
      <section class="main-section">
        <div class="min-height">
          <div class="row">
            <div class="small-12 columns">
              <div class="row minus_marg" style="padding-top:0px !Important;">
                <div class="medium-12 columns">

                  <div style="text-align: center;margin-top:20px;">
                    <img alt="" style="width:120px;" src=<%= data.imgurl %>>
                    <p>学生类型：<%= data.type_name %></p>
                    <p>学位类型：<%= data.degree_type_name %></p>
                    <p>领域(系)：<%= data.domain %></p>
                  </div>

                  <div class="row minus_marg" style="padding-top:0px !Important;">
                    <div class="small-10 columns">
                      <h1>学生信息</h1>
                    </div>
                  </div>

                  <div class="row minus_marg ">
                    <div class="small-12 columns" style="padding-top:0px !Important;">
                      <div class="div-a"><p>姓名：<%= data.name %></p></div>
                      <div class="div-b"><p>性别：<%= data.gender %></p></div>

                      <div class="div-a"><p>出生日期：<%= data.birthday %></p></div>
                      <div class="div-b"><p>民族：<%= data.nation %></p></div>

                      <div class="div-a"><p>学号：<%= data.studentid %></p></div>
                      <div class="div-b"><p>入学年月：<%= data.startyearmonth %></p></div>

                      <div class="div-a"><p>校区：<%= data.location %></p></div>
                      <div class="div-b"><p>学苑：<%= data.class %></p></div>

                      <div class="div-c"><p>专业：<%= data.major_name %></p></div>
                      <div class="div-c"><p>研究方向：<%= data.researcharea %></p></div>
                      <div class="div-c"><p>电话：<%= data.telephone %></p></div>
                      <div class="div-c"><p>邮箱：<%= data.mail %></p></div>

                    </div>
                  </div>

                  <div class="columns no-pad-med"><hr></div>

                  <div class="row minus_marg" style="padding-top:0px !Important;">
                    <div class="small-10 columns">
                      <h1>导师信息</h1>
                    </div>
                  </div>
                  <div class="row minus_marg ">
                    <div class="small-12 columns" style="padding-top:0px !Important;">
                      <div class="div-a"><p>导师姓名：张齐勋</p></div>
                      <div class="div-b"><p>导师id：1</p></div>
                      <div class="div-a"><p>协助导师姓名：张齐勋</p></div>
                      <div class="div-b"><p>协助导师id：1</p></div>
                      <div style="height:90px;"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>
